body {
    background: #1B1B25;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header h1 {
    color: #DB4D57;
    font-size: 2.5em;
    text-align: center;
}

header p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 0;
}

section {
    margin-top: 50px;
}

h2 {
    border-bottom: 1px solid #DB4D57;
    padding-bottom: 10px;
}

.job h3 {
    color: #DB4D57;
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li:before {
    content: "• ";
    color: #DB4D57;
}

.skill-category {
    margin-top: 20px;
}

.skill-category h3 {
    color: #DB4D57;
    margin-bottom: 10px;
}

.education h3, .experience h3 {
    color: #DB4D57;
}


.counter-container {
    display: flex;
    justify-content: center;
    margin-top: 50px; 
    margin-bottom: 50px; 
}

.counter-number {
    font-size: 24px; 
    color: #FFF; 
   
}
